@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Roboto&display=swap");

:root {
  --primary-white: #fff;
  --primary-dark: rgb(255, 255, 255, 0);
  --gold-accent: #847000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto Condesed" sans-serif; */
}
body {
  font-family: "Roboto Condesed", sans-serif;
}
